{{#each this}}
  <li class='list-executor' id="{{id}}">
   
    <div class='photo-card'>
      <div class='box'></div>
      <picture>
        {{!-- {{#each images}} --}}
        {{!-- <source srcset="{{this.url}}" @media screen and (min-aspect-ratio: {{this.ratio}}) width="{{this.width}}"
          height="{{this.height}}" />{{/each}} --}}
        {{#each images}}
          <source srcset='{{this.url}}' />{{/each}}
        <img src='' alt='' class='page-albom'/>
      </picture>
    </div>
    <div class='info'>
      <h2 class='name-albom'>{{name}}</h2>
      <p class='album-release-date'>{{dates.start.localDate}}</p>
      <p class='place-performance'>
        <i class='material-icons'>room</i>
        {{#each _embedded.venues}}{{this.name}}{{/each}}
      </p>
    </div>
 
  </li>
{{/each}}