<div class="modal__top-image-container">
  <picture>
    {{#each images}}
    <source srcset="{{this.url}}"/>{{/each}}
    <img src="" alt="Исполнитель" class="modal__top-image" />
  </picture>
</div>

<div class="modal__information-container">
  <div class="modal__side-image-container">
    <picture>
      {{#each images}}
      <source srcset="{{this.url}}"/>{{/each}}
      <img src="" alt="Исполнитель" class="modal__side-image" />
    </picture>
  </div>

  <div class="modal__main-information">
    <h2 class="modal__subheader">Info</h2>
    <p class="modal__text">{{info}}</p>
    <h2 class="modal__subheader">When</h2>
    <p class="modal__text">{{dates.start.localDate}}<br>{{dates.start.localTime}} ({{dates.timezone}})</p>
    <h2 class="modal__subheader">Where</h2>
    {{#each _embedded.venues}} <a href="https://maps.google.com/?ll={{this.location.latitude}},{{this.location.longitude}}" target="_blank"> <p class="modal__text">{{this.city.name}},
      {{this.country.name}}<br>{{this.name}}</p></a>{{/each}}
    <h2 class="modal__subheader">Who</h2>
    <p class="modal__text">{{name}}</p>
    <h2 class="modal__subheader">Prices</h2>
    {{#each priceRanges}}
    <div class="modal__ticket-container">
      <p class="modal__text">
        <svg class="modal__ticket-barcode">
          <path
            d="M2.67 0H0v16h2.67zm6.7 0H6.71v16h2.66zm4 0h-2.62v16h2.66zM24 0h-4v16h4zM5.33 0H4v16h1.33zM16 0h-1.29v16H16zm2.67 0h-1.3v16h1.3z" />
        </svg>
        {{this.type}} {{this.min}}-{{this.max}} {{this.currency}}
      </p>
      {{/each}}
      <a class="modal__buy-tickets-link" href='{{url}}' target="_blank" title="More from this author">
        Buy tickets
      </a>
    </div>

  </div>
</div>

<a class="modal__more-info-link" href='https://www.google.com/search?q={{name}}' target="_blank" title="More from this author">
  More from this author
</a>